name: Test VS Code Tunnel Action

on:
  workflow_dispatch:

jobs:
  tunnel:
    name: Start VS Code Tunnel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Start Tunnel
        id: start
        uses: ./
      - name: Upterm SSH on Failure
        if: failure()
        uses: owenthereal/action-upterm@v1
        with:
          wait-timeout-minutes: 1